.container {
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: #202124;
}

.title {
  font-size: 3em;
  color: #fff;
  text-align: center;
  margin-top: 10vh;
  font-family: 'Roboto', sans-serif;
}

.card {
  width: 620px;
  height: 50vh;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 10vh;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.item {
  display: flex;
  margin-top: 1vh;
  font-family: 'Roboto', sans-serif;
  gap: 20px;
}


