<div class="container">

  <h3 class="title">NgFor</h3>

  <div class="card">
    <div *ngFor="let item of items; let i = index">
      <div class="item">
        <div class="item__name"><strong>Nombre:</strong> {{item.name}} </div>
        -
        <div class="item__price"><strong>Precio:</strong> {{item.price}}</div>
      </div>
    </div>
  </div>

</div>
